body {
    padding: 0;
    margin: 0;
    background-color: lightslategrey;
}

#map,
body,
html {
    height: 100%;
    align-content: center;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightsteelblue;
    border-radius: .3rem;
}

.nav-bar {
    background-color: darkgray;
}
